body {
background: #E5E5E5;
font-family: 'Roboto', sans-serif;
color: #2E2F42;
}
.list{
list-style: none;
}
.link{
text-decoration: none;
}
.header-navigation {
}
.header-link, .header-logo {
    font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-link {
font-family: 'Raleway';
color: #4D5AE5;
}
.header-logo{
font-family: 'Raleway';
}
.list-item {
}

.list-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.list-link:hover {
    columns: #ff6c00;
}
.list-link:focus {
    columns: #eb0707;
}
.mail, .tell-numer {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.main-box{
background: #2E2F42;

}
.main-title {
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;

}
.button {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 3.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: inherit;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
